.h-module-live-entries ul { clear:both;overflow:hidden;padding-left: 0px !important;margin: 0 !important; }
.h-module-live-entries ul li { margin:10px 0;display:-moz-inline-stack;display:inline-block;vertical-align:top;*display:inline; }
.h-module-live-entries ul li a img { width: 198px; height: 132px; margin-left:5px;border:1px solid #E5E6E5;display:inline;padding:2px; }
.h-module-live-entries ul li a img:hover, .h-module-live-entries ul li a:hover img { border:1px solid #900; }
.h-module-live-entries ul li p { font-size:.95em;padding:0px;margin:1px; }
.h-module-live-entries ul li h5 {margin:3px 0 0 0;}
.h-module-live-entries .h-module-live-left-content {float:left; margin-right:10px;}
.h-module-live-entries .h-module-live-right-content {float:left;width:600px;}

.h-module-live-detail {overflow:hidden;padding:0px;}
.h-module-live-detail h4{margin-bottom:10px;}
.h-module-live-detail a img{float:left;display:inline;padding:2px}
.h-module-live-detail p{margin-bottom:13px;}
.h-module-live-detail p span{color:#900;font-weight:bolder;}
.h-module-live-detail p a{float:left;}

div.h_module_live_category_tree ul { padding-left: 20px; list-style-type: circle; }
div.h_module_live_category_tree ul ul { padding-left: 20px; list-style-type: disc; }